div#ymapcontainer { width: 745px; height: 500px; }
.rCol .f #bx_address_search_control_map_yandex_COORDINATES_COORDINATES input { display: block }
.rCol p, .rCol #bx_map_hint_novalue_map_yandex_COORDINATES_COORDINATES, .rCol #bx_address_search_control_map_yandex_COORDINATES_COORDINATES { color: #4c4c4c }
#bx_address_search_control_map_yandex_COORDINATES_COORDINATES { padding-top: 1.38em }

div.error { padding: 10px; font-size: 15px; border: 1px solid red; color: red; }
div.inpphoto span { cursor: pointer; color: #46a; font-style: italic; border-bottom: 1px dotted #46a;}

span.command { border-bottom: 1px dashed #333; color: #333; cursor: pointer; }
span.command:hover { color: #555; }
div.rCol div.picts { display: none; }
div.rCol div.picts img { max-width: 400px; }
div.rCol div.picts label { display: inline; }

.hidden { display: none; }
.f { padding-bottom: 15px; color: #222; position: relative; }
.rCol .f { padding-bottom: 0px; }

.f .textInput { border-width: 1px; background-color: white; font: normal 1em "Trebuchet MS", sans-serif; }
.f select { border-width: 1px; background-color: white; font: normal 1em "Trebuchet MS", sans-serif; }
.f texarea { border-width: 1px; font: normal 1em "Trebuchet MS", sans-serif; }
.lCol .f input, .lCol .f select, .lCol .f textarea {width: 490px; margin:0;}
.lCol .f input[type="file"]{border: solid 1px #e5e9ec; width: 473px;}
.lCol .f select{width:492px; padding:1px; height: 25px;}
.rCol .f textarea {width: 100%; height: 100px; }
div.lCol .f textarea { height: 150px; border-width: 1px; font-size: normal; }
div.rCol .button { float: right; margin-top: 15px; }
.bx-yandex-search-form .textInput {width: 350px;}
.bx-yandex-search-form p {margin-bottom: 0.34em}
.bx-yandex-search-results {margin-bottom: 0px;}
.f label { display: block; margin-bottom: 4px; width:295px; float:left; margin:0 26px 0 0;}
.f .tip { float: left; width: 295px; margin:0 0 0 0;}
.form_top_bg + .f {padding: 0 10px 30px 10px;}
.f + .f {/*padding-left: 10px;*/ padding-right: 10px; padding-bottom: 30px;}
.form_top_bg .f{padding-bottom: 0;}
.form_top_bg .full_adress{margin: 10px;}
hr { margin-left: -230px; border-left: none; border-bottom-color: white; }
span.required { color: red; width: 6px; float:right; margin:0 -10px 0 0;}
#recognized_address_str { font-weight: bold; }
#other_address_str { color: #505050; }

.addSubmit {
	border-top: 1px solid #cacaca;
	clear: both;
	padding: 15px 0 70px 0;
	margin: 25px 10px 0 10px;
}

#holes-form .addSubmit, #holes-form .addSubmit p{margin-top: 0; margin-bottom: 0em; padding-bottom: 0;}

.addSubmit .container {
	border-top: 1px solid #fff;
	padding: 17px 0 0 0;
	width: auto;
	text-align: center;
}

.addSubmit p {
	float: left;
	width: 465px;
	color:#000;
	font-size: 12px;
}

.addSubmit .btn {
	float: right !important;
	font-size: 1.85em;
}

span.chekboxResult { background: #a3a3a8 url(/images/label_grey_bg.gif) repeat-x top;}

.lCol .chekboxes input { width: 20px;float:left;}
.lCol .chekboxes label {}

div#overshadow { position: relative; z-index: 2; }
span.comment { font-size: 75%; color: #666; }

div.f input[type="text"], div.f input[type="password"]{
	width: 484px !important;
}


.bx-yandex-view-layout{
	width:100%;
	overflow: hidden;
}
.bx-yandex-search-layout{
	clear: both;
}
.bx-yandex-search-layout.wide #ymapcontainer{
	width:960px;
}
.bx-yandex-search-form p{
	float:left;
	width:295px;
	margin:0 26px 0 0;
}

input#address_inp{
	width:230px !important;
}



#holes-form .btn{
	float:none;
}
#holes-form .btn .addFact{
	padding:0;
}
#holes-form .addFact .text{
	font-size: 22px;
	width:auto;
	padding:0 50px;
	height:45px;
	line-height:44px;
	background-image: none;
	background-color: #fd6800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff881e), to(#e04b00)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ff881e, #e04b00); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ff881e, #e04b00); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #ff881e, #e04b00); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #ff881e, #e04b00); /* Firefox 16+, IE10, Opera 12.50+ */
  text-shadow:none;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

#holes-form .hint{
	display: block;
	margin:5px 0 0 321px;
	color:#9aa3ab;
	font-style: normal;
}


h2 + .bx-yandex-view-layout, h2 + .bx-yandex-view-layout #ymapcontainer{
	width:960px;
}