
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
assets/
protected/runtime/
themes/classic/views/
.htaccess
